body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100vh;
}

header {
    padding: 20px 30px;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color:rgb(37, 37, 37)
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}


.regular-form {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.regular-buttons {

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.regular-textarea {
    border-radius: 50px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 700px;

}

.lucky-button {
    text-decoration: none;
    background-color: #e9e9ed;
    padding: 10px 20px;
    border-radius: 5px;
    /* display: inline-block; */
}

.lucky-button:hover {
    background-color: #d0d0d7;
}

.google {
    text-align: center;
    font-size: 110px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    margin-bottom: 20px;
    margin-bottom: 0;
    margin-top: 250px;
}

.g-blue {
    color: rgb(15, 114, 252);
}

.g-red {
    color: rgb(254, 72, 0)
}

.g-yellow {
    color: rgb(255, 200, 0)
}

.g-green {
    color: green
}

footer {
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    color: rgb(41, 41, 41);
}

.footer-left, .footer-right {
    display: flex;
    gap: 20px;
}

